table {
    width: 100%;
  }
  
  tr.app-detail-row {
    height: 0;
  }
  
  tr.app-element-row:not(.app-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.app-element-row:not(.app-expanded-row):active {
    background: #efefef;
  }
  
  .app-element-row td {
    border-bottom-width: 0;
  }
  
  .app-element-detail {
    overflow: hidden;
    display: flex;
  }
  