:host{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    margin: 16px;

    .slim {
        margin: 0px;
        justify-content: space-between;
    }
}

button {
    margin: 8px;
}

.center {
    justify-content: center;
    align-items: center;
    display: flex;
}

.margin {
    margin: 16px;
}