<mat-card>
    <p class="mat-body-strong">Description</p>
    <p class="body-2">{{product.description}}</p>
    <mat-divider></mat-divider>
    <p class="mat-body-strong">Cost</p>
    <p class="body-2">{{product.development_cost}}</p>
    <mat-divider></mat-divider>
    <p class="mat-body-strong">Evaluation reward</p>
    <p class="body-2">{{product.evaluator_reward}}</p>
    <mat-divider></mat-divider>
    <p class="mat-body-strong">Expertise</p>
    <p class="body-2">{{product.expertise}}</p>
    <mat-divider></mat-divider>
    <p class="mat-body-strong">Development funding left</p>
    <p class="body-2">{{product.remaining_development_funding}}</p>
    <mat-divider></mat-divider>
    <p class="mat-body-strong">Needed funds</p>
    <div class="flex-row">
        <p class="body-2">{{product.remaining_funding}}</p>
        <button *ngIf="canFund"
        mat-raised-button
            color="accent">Fund</button>
    </div>
    <mat-divider></mat-divider>
    <p class="mat-body-strong">State</p>
    <p class="body-2">{{state}}</p>
    <mat-divider></mat-divider>
    <div>
        <button *ngIf="canJoinAsFreelancer"
            mat-raised-button
            class="green">Join as freelancer</button>
        <button *ngIf="canJoinAsEvaluator"
            mat-raised-button
            color="primary"> Join as evaluator</button>
        <button *ngIf="canSubmit">Submit</button>
    </div>
</mat-card>