<mat-card>
    <p class="mat-body-strong">Description</p>
    <p class="body-2">{{data.description}}</p>
    <mat-divider></mat-divider>
    <p class="mat-body-strong">Cost</p>
    <p class="body-2">{{data.development_cost}}</p>
    <mat-divider></mat-divider>
    <p class="mat-body-strong">Evaluation reward</p>
    <p class="body-2">{{data.evaluator_reward}}</p>
    <mat-divider></mat-divider>
    <p class="mat-body-strong">Expertise</p>
    <p class="body-2">{{data.expertise}}</p>
    <mat-divider></mat-divider>
    <p class="mat-body-strong">Development funding left</p>
    <p class="body-2">{{data.remaining_development_funding}}</p>
    <mat-divider></mat-divider>
    <p class="mat-body-strong">Needed funds</p>
    <p class="body-2">{{data.remaining_funding}}</p>
    <mat-divider></mat-divider>
    <p class="mat-body-strong">Project state</p>
    <p class="body-2">{{state}}</p>
    <mat-divider></mat-divider>
</mat-card>